:root {
    --cyan-Accent: #3AF7E8;
}
@font-face {
    font-family: f;
    src: url(assets/Norse-Bold.otf);
}
* {
    padding: 0;
    margin: 0;
    color: white;
    font-family: sans-serif;
}
body {
    background-color: lightgreen;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
}   
.main_image{
    flex: 2 18 320px;
    border: white 2px solid;
    
}
img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.header {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header p{
    font-size: 2em;
}
.form {
    padding: 25px;
    flex: 5 5 160px;
    display: flex;
    flex-direction: column;
    background-color: rgb(3, 2, 43);
}

.header{
    flex: 1;
    background-color: blueviolet;
}
form {
    flex: 3;
    background-color: rgb(24, 226, 233);
    display: flex;
    flex-direction: column;
}
.footer {
    flex: 1;
    background-color: rgb(9, 8, 63);
}
.footer >*{
    margin-left: 3.5rem;
}
button.create-account {
    font-size: 1.5rem;
    color: var(--cyan-Accent);
    padding: 1.2rem;
    margin-top: 3.5rem;
    margin-bottom: 2rem;
    background-color: rgb(3, 2, 43);
    border-radius: 9px;
    border-width: 3.5px;
    border-color: var(--cyan-Accent);
    border-style: solid;
}
button.create-account:hover {
    
    color:rgb(3, 2, 43);
    background-color: var(--cyan-Accent);
}
.form_message{
    font-size: 25px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 10%;
}
fieldset{
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    padding: 2em;
    background-color: rgb(156, 17, 49);
    gap: 35px 30px;
    flex: 1 1 90%;
}
fieldset .entry{
    display: flex;
    flex: 1 1 47%;
    flex-direction: column;
    border: black 2px solid;
    justify-content: center;
}
.entry label{
    background-color: blue;
    border: black 2px solid;
}
input[type="text"] {
    flex: 1;
    margin: 25px;
    padding: 12px 20px;
    border: black 2px solid;
    color: black;
}
