:root {
    --cyan-Accent: #3AF7E8;
}
@font-face {
    font-family: f;
    src: url(assets/Norse-Bold.otf);
}
* {
    padding: 0;
    margin: 0;
    color: white;
    font-family: sans-serif;
}
body {
    background-color: black;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}   
img {
    object-fit: cover;
    object-position: 85% 40%;
    display: inline;
    flex: 1;
    position: relative;
    height: min(100vh);
    width: 50vh;
    min-width: 30vh;
}
.form {
    padding: 30px;
    flex: 3;
    display: flex;
    flex-direction: column;
    background-color: rgb(3, 2, 43);
    width: 40rem;
    min-width: 40rem;
}

.header{
    flex: 1;
    background-color: blueviolet;
}
form {
    flex: 3;
    background-color: rgb(24, 226, 233);
}
.footer {
    flex: 1;
    background-color: rgb(9, 8, 63);
}
.footer >*{
    margin-left: 3.5rem;
}
button.create-account {
    font-size: 1.5rem;
    color: var(--cyan-Accent);
    padding: 1.2rem;
    margin-top: 3.5rem;
    margin-bottom: 2rem;
    background-color: rgb(3, 2, 43);
    border-radius: 9px;
    border-width: 3.5px;
    border-color: var(--cyan-Accent);
    border-style: solid;
}
button.create-account:hover {
    
    color:rgb(3, 2, 43);
    background-color: var(--cyan-Accent);
}
fieldset{
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 5em;
    background-color: rgb(156, 17, 49);
    gap: 40px;
}
fieldset .entry{
    display: flex;
    flex-direction: column;
    width: 350px;
    border: black 2px solid;
    justify-content: flex-start;
}
.entry label{
    background-color: blue;
    border: black 2px solid;
}
input[type="text"] {

    flex: 1;
    margin: 20px;
    padding: 12px 20px;
    border: black 2px solid;
}
